<form>
  Title:
  <br>
  <input type="text" name="title" value="<%= card.escape('title') %>">
  <br>
  Description:
  <br>
  <textarea name="description"><%= card.escape('description') %></textarea>
  <br>
  <button class="create-card-btn">Create card</button>
</form>
