<h3><%= board.escape('title') %></h3>
<button class="delete-board" data-id=<%= board.id %>>Delete this board</button>

<div class="lists">

</div>
<button class="new-list-btn">Create new list</button>
